<div class="container">
    <div class="columns is-centered">
        <div class="box column is-one-third">
            <h2 class="title has-text-centered">Typing Challenge</h2>
            <p class="has-text-centered"><span [class]="compare(letter, userText[i])" *ngFor="let letter of lorem.split(''); let i = index">{{ letter }}</span></p>
            <div class="field"><input #userInput class="input" type="text" placeholder="Match the above sentence" (input)="onUserInput(userInput.value)"/></div>
            <div  *ngIf="winner"  class="box has-text-centered">
                <h2 class="title">You Win!</h2>
            </div>

        </div>
    </div>
</div>
